// App.scss

@import '../variables';
@import '../mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  background-color: $white;
  color: $black;

  @include media(sm) {
    font-size: 1.8rem;
  }
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem 0;
  line-height: 1;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin: 0 0 3rem 0;
  line-height: 1.5;
}

a {
  color: $black;
  transition: color $transition;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

button {
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: rgba($gray, 0.5);
    color: $black;
    cursor: default;
    pointer-events: none;
  }
}

.is-hidden {
  display: none !important;
}

.container {
  @include container;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.25);
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0;
}

.locales {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;

  .locale {
    margin-left: 2rem;
  }
}
