// App.scss

@import '../variables';
@import '../mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  background-color: $light-gray;
  color: $black;

  @include media(sm) {
    font-size: 1.8rem;
  }
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem 0;
  line-height: 1;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin: 0 0 2rem 0;
  line-height: 1.5;
}

a {
  color: $black;
  transition: color $transition;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.container {
  @include container;
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
