// Card.scss

@import '../variables';
@import '../mixins';

.card {
  @include column(12);
  margin-bottom: $grid-gutter * 2;

  @include media(sm) {
    @include column(6);
  }
}

.card-link {
  display: block;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.card-image {
  img {
    width: 100%;
    display: block;
  }
}

.card-content {
  margin-top: 2rem;
}

.card-name {
  margin-bottom: 1rem;
  font-size: inherit;
}

.card-description {
  display: none;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.card-price {
  margin-top: 1rem;
}
