// Checkout.scss

.checkout {
  .container {
    max-width: 68rem;
  }

  .cart-item {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}

.header {
  .is-checkout & {
    position: relative;
  }

  .container {
    .is-checkout & {
      justify-content: center;
    }
  }
}

.main {
  .is-checkout & {
    padding-top: 0;
  }
}

#kco-container {}
