// Header.scss

@import "../variables";
@import "../mixins";

.main-header {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(sm) {
    padding: 6rem 0;
  }
}

.main-brand {
  margin-bottom: 0;
  font-size: 2rem;

  @include media(sm) {
    font-size: 3rem;
  }
}

.main-brand-link {
  text-decoration: none;
}
