// Header.scss

@import '../variables';
@import '../mixins';

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 12rem;
  z-index: 1000;

  .container {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;

    @include media(sm) {
      padding-left: $grid-gutter * 2;
      padding-right: $grid-gutter * 2;
    }
  }
}

.site-brand {
  display: inline-block;
  margin-bottom: 0;
  font-size: 2rem;

  @include media(sm) {
    font-size: 3rem;
  }
}

.site-brand-link {
  text-decoration: none;
}

.cart-btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  font-size: 1.6rem;

  span {
    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }
}