// Main.scss

@import "../variables";
@import "../mixins";

.main-header {
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-brand {
	margin-bottom: 0;
	font-size: 3rem;
}

.main-brand-link {
	text-decoration: none;
}

.main-section {
	@include media(sm) {
		padding: 5rem 0;
	}
}

.main-footer {
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ccc;
}