// Product.scss

@import '../variables';
@import '../mixins';

.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-image,
.product-content {
  @include column(12);
  margin-bottom: 2rem;
}

.product-image {
  @include media(sm) {
    @include column(6);
  }

  @include media(md) {
    @include column(7);
  }

  img {
    width: 100%;
  }
}

.product-content {
  @include media(sm) {
    @include column(6);
    margin-top: $grid-gutter;
    margin-left: -$grid-gutter * 3.5;
  }

  @include media(md) {
    @include column(5);
  }
}

.product-name {
  font-size: 4rem;

  @include media(sm) {
    font-size: 6rem;
  }

  @include media(md) {
    font-size: 8rem;
  }
}

.product-price {
  margin-bottom: 2rem;
  font-size: 2rem;

  @include media(sm) {
    font-size: 2.5rem;
  }

  @include media(md) {
    font-size: 3rem;
  }
}

.product-btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border: none;
  background-color: $black;
  color: $white;
  margin-bottom: 2rem;
  cursor: pointer;
}