// Product.scss

@import '../variables';
@import '../mixins';

.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-image,
.product-content {
  @include column(12);
  margin-bottom: 4rem;
}

.product-image {
  @include media(sm) {
    @include column(6);
  }

  @include media(md) {
    @include column(7);
  }

  img {
    width: 100%;
  }
}

.product-content {
  @include media(sm) {
    @include column(6);
  }

  @include media(md) {
    @include column(5);
  }
}

.product-name {
  font-size: 4rem;

  @include media(sm) {
    font-size: 6rem;
  }

  @include media(md) {
    font-size: 8rem;
  }
}

.product-price {
  margin-bottom: 2rem;
  font-size: 2rem;

  @include media(sm) {
    font-size: 2.5rem;
  }

  @include media(md) {
    font-size: 3rem;
  }
}

.product-form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  color: $black;
  text-align: center;

  @include media(lg) {
    position: relative;
    left: inherit;
    right: inherit;
    bottom: inherit;
    margin-bottom: 3rem;
    background-color: transparent;
  }

  p {
    margin: 2rem;
  }
}

.product-btn {
  display: block;
  width: 100%;
  padding: 2rem 4rem;
  font-size: 3rem;
  border: none;
  background-color: $black;
  color: $white;
  cursor: pointer;

  @include media(lg) {
    margin-bottom: 3rem;
  }
}
