* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
	line-height: 1.3;
}

img {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
	border: 0;
}

.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.title {

}

.products {
	display: flex;
	flex-wrap: wrap;
	margin-left: -2rem;
}

.product {
	max-width: 50%;
	flex: 50% 0 0;
	padding-left: 2rem;

	.image {
		margin-bottom: 1rem;
	}

	.name {
		font-weight: bold;
	}
	
	.description {
		margin-top: 1rem;
	}

	.price {
		margin-top: 1rem;
	}
}