* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
	line-height: 1.3;
}

img {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;
	border: 0;
}

.products {
	display: flex;
	flex-wrap: wrap;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.product {
	max-width: 50%;
	flex: 50% 0 0;
	padding: 3rem;
}

.product-image {
	margin-bottom: 1rem;
}

.product-description {
	margin-top: 1rem;
}