// variables.scss

$grid-width: 1440px;
$grid-gutter: 2rem;
$grid-columns: 12;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Animations
$transition: 0.2s;

// Colors
$black: #111;
$white: #fff;
$light-gray: #f3f3f3;
$blue: #0000ff;
